/*轮播图样式*/
.slides {
/*
		width: 100%;
		height: 700px;
*/
		position: relative;
		overflow: hidden;
	}
	.slideInner {
/*		height: 700px;*/
		position: relative;
		width: 100%;
		height: 100%;
		left: 0;
		margin-left: 0;
	}
	.slideInner a {
		width: 100%;
		height: 100%;
		display: block;
/*		height: 700px;*/
		background-size: 100% 100%;
		background-position: center center;
		position: relative;
		text-align: center;
		z-index: 1;
	}
	.slideInner a div.img1-1 {
		width:40%;
		position: absolute;
		left: 45%;
		top: 20%;
	}
	.slideInner a div.img1-2 {
		width: 18%;
		position: absolute;
		left: 75%;
		top: 45%;
	}
	.slideInner a div.img1-3 {
		width: 25%;
		position: absolute;
		left:12%;
		top: 40%;
	}
	.slideInner a div.img2-1 {
		width: 50%;
		position: absolute;
		top: 30%;
		left: 45%;
	}
	.slideInner a div.img1-1 img,.slideInner a div.img1-2 img,.slideInner a div.img1-3 img,.slideInner a div.img2-1 img,.slideInner .slide3 .img3-1 img,.slideInner .slide3 .img4-1 img,.slideInner .slide3 .img4-2 img{
		width: 100%;
		height: 100%;
	}

	.slideInner .slide3 .img3-1{
		width: 50%;
		position: absolute;
		top: 30%;
		left: 10%;
	}
	.slideInner .slide3 .img4-1{
		width: 35%;
		position: absolute;
		top: 20%;
		left: 12%;
	}
	.slideInner .slide3 .img4-2{
		width: 40%;
		position: absolute;
		top: 45%;
		left: 12%;
	}
	.nav {
		position: relative;
		width: 80%;
		height: 100%;
		left: 10%;
		display: none;	
}
	.nav a {
		display: block;
		width: 5%;
		height: 100%;
		opacity: .5;
		z-index: 9;
	}
	.nav a.prev {
		position: absolute;
		left: 0;
		top: -50%;
		margin-top: -5%;
		z-index: 10;
		background: url(../img/banner/ban_pre.png) no-repeat;
	}
	.nav a.next {
		position: absolute;
		right: 0;
		top: -50%;
		margin-top: -5%;
		z-index: 10;
		background: url(../img/banner/ban_next.png) no-repeat;
	}
	.navListBox {
		position: absolute;
		left: 50%;
		top: 95%;
		z-index: 99;
	}
	.navListBox li {
		width: 10px;
		height: 10px;
		float: left;
		margin-left: 5px;
		border-radius: 50%;
		overflow: hidden;
	}
	.navListBox li:first-child {
		margin-left: 0;
	}
	.navListBox li a {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0 0 5px #666 inset;
	}
	.navListBox li a.active {
		background-color: #55ddff;
	}