<!DOCTYPE html>
<html>
<head>
	<title>南加门诊</title>
	<meta name="description" content="南加州医疗管理集团,健康服务定制专家" />
	<meta name="keywords" content="健康,医疗,健康订制" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type"	content="text/html" charset="utf-8"/> 
	<link rel="icon" type="image/x-icon" href="../public/img/logo/logo.ico">
	<!-- 引入css文件 start -->
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<link rel="stylesheet" type="text/css" href="../public/css/common.css">
	<link rel="stylesheet" href="../public/css/detaile.css">
	<!-- 引入css文件 end -->
</head>
<body>
	<div class="navbar" id="navbar" style="background:#e1e3e5;">
		<div class="navbar-logo">
			<img src="../public/img/logo/logo.png"/>
		</div>
		<div class="navbar-nav">
			<p id="nav-back"><a href="index.html"><strong>&lt;</strong>&nbsp;&nbsp;&nbsp;返回首页</a></p>
		</div>
	</div>
	<div class="detaile">
		<div class="dataile-content">
		<div class="detaile-header">
			<p>加州大学旧金山分校医学中心</p>
		</div>
			<div class="detaile-img">
				<img src="../public/img/detaile/ins-img1-1.jpg" alt="">
			</div>
			<div class="detaile-text">
				<p>
					加州大学旧金山分校医学中心（UCSF Medical Center），因其创新性的病人护理、先进的科技和开拓性的研究受到世界认可。根据《美国新闻与世界报道》年度调查报告，加州大学旧金山分校医学中心在全美医院综合排名中，排第七名。
				</p>
				<p>
					该中心每年接待门诊病人约770000人次，住院病人约38000人次。中心拥有近8000名员工，在圣弗兰西斯有几十个医疗便利站，在北加利福尼亚州及其周边地区也有很多诊所。
				</p>
				<p>
					加州大学旧金山分校医学中心有两个主要的医院，分别位于Parnassus校区和Mount Zion校区，第三个位于Mission Bay校区的医院综合大楼正在筹建中，预计2015年初投入使用。
				</p>
				<div class="dataile-text-char">
					<span><img src="../public/img/detaile/ins-img1-2-11.png" alt=""></span>
					<p>	
						UCSF Helen Diller家庭综合癌症中心，因其创新性的研究和高端的病人护理的综合指标而获得了美国国家癌症研究所的肯定。癌症教育中心还为患者提供书籍，医学课程，医学咨询和网络设施，以此来搜集健康信息资料。
					</p>
					<span><img src="../public/img/detaile/ins-img1-2-22.png" alt=""></span>	
					<p>
						在2013-14《美国新闻与世界报道》的全美最佳医院排行榜中，加州大学旧金山分校医学中心的泌尿科排名第四。
					</p>
					<P>
						加州大学旧金山分校医学中心提供泌尿道疾病的诊断和专业治疗，包括：癌症、男性性功能紊乱、尿失禁、盆骨病、尿结石、男性不育和前列腺疾病。该中心可实施尿道重建，前列腺成像和活检、冷冻手术和局部癌症的放射性粒子植入疗法。
					</P>
					<span><img src="../public/img/detaile/ins-img1-2-33.png" alt=""></span>
					<p>
						在2013-14《美国新闻与世界报道》的最新排行榜中，加州大学旧金山分校医学中心的神经病和神经外科全美排名第五。
					</p>
					<p>
						加州大学旧金山分校医学中心神内中心的专家，是包括从脑血管疾病到头疼再到神经损伤在内的一系列疾病诊断和治疗的领先者。在被转诊到专门治疗某个疾病的神经病学专家前，患者可能需要在神内诊所接受综合评估。
					</p>
					<span><img src="../public/img/detaile/ins-img1-2-44.png" alt=""></span>
					<p>
						加州大学旧金山分校Parnassus校区开展的肾脏学、高血压和新陈代谢病治疗为患者提供综合会诊、急慢性肾衰竭的诊断和管理、肾血管病、高血压、免疫肾功能障碍、复杂管状和电解质疾病、代谢评估和肾结石治疗、肾移植前后患者的评估和管理
					</p>
					<p>
						专门的诊断程序包括本体和移植肾脏的诊断性穿刺活检。该中心也提供急慢性血液透析、连续肾替代疗法、腹膜透析、肾移植相关的家庭血透和血浆交换。
					</p>
				</div>
				
				
				
				
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-cen">
			<div class="footer-logo"><img src="../public/img/connect/footer-logo.png" alt=""></div>
			<div class="footer-tel"><img src="../public/img/connect/footer-tele.png" alt=""></div>
			<div class="footer-weixin"><img src="../public/img/connect/footer-weixin.png" alt=""></div>
		</div>
		<div class="footer-copy">京ICP备12052638号&nbsp;-10&nbsp;[京卫网审[2013]第0008号]Copyright&copy;2006-2013&nbsp;MYLIKE</div>
	</div>
</body>
</html>