<!DOCTYPE html>
<html>
<head>
	<title>南加门诊</title>
	<meta name="description" content="南加州医疗管理集团,健康服务定制专家" />
	<meta name="keywords" content="健康,医疗,健康订制" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type"	content="text/html" charset="utf-8"/> 
	<link rel="icon" type="image/x-icon" href="../public/img/logo/logo.ico">
	<!-- 引入css文件 start -->
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<link rel="stylesheet" type="text/css" href="../public/css/common.css">
	<link rel="stylesheet" href="../public/css/detaile.css">
	<link rel="stylesheet" href="../public/css/detaile-ntt.css">
	<!-- 引入css文件 end -->
</head>
<body>
	<div class="navbar" id="navbar" style="background:#e1e3e5;">
		<div class="navbar-logo">
			<img src="../public/img/logo/logo.png"/>
		</div>
		<div class="navbar-nav">
			<p id="nav-back"><a href="index.html"><strong>&lt;</strong>&nbsp;&nbsp;&nbsp;返回首页</a></p>
		</div>
	</div>
	<div class="detaile">
		<div class="dataile-content">
		<div class="detaile-header">
			<p>NTT东日本关东医院</p>
		</div>
			<div class="detaile-img">
				<img src="../public/img/detaile/ins-img2-1.jpg" alt="">
			</div>
			<div class="detaile-ntt-text">
				<div class="ntt-char">
					<p><span>●</span>&nbsp;&nbsp;2007年被授予日本最受欢迎的公立医院之一</p>
					<p><span>●</span>&nbsp;&nbsp;是日本厚生劳动省和经济产业省选定的全日本最顶级的八家临床医院之一，为世界政要、名流提供日本最顶尖的医疗技术和服务</p>
					<p><span>●</span>&nbsp;&nbsp;东京第一家获得国际医疗卫生机构认证联合委员会Joint Commission Internationa（JCI）认证的医院</p>
					<p><span>●</span>&nbsp;&nbsp;皇室指定医疗机构之一</p>
					<p><span>●</span>&nbsp;&nbsp;ESD技术检测及治疗亚洲第一，日本综合排名第二，胃癌、结直肠癌治疗权威</p>
				</div>
				<div class="ntt-detaile">
					<h1>1.世界级权威认证--世界卫生部组织WHO认可</h1>
						<div class="ntt-detaile-p1">
							<p>① JCR认证——全世界公认的医疗服务标准，代表了医院服务和医院管理的最高水平，世界卫生部组织认可</p>
							<p>② 全日本最高质量的医疗保健机构</p>
							<p>③ 权威健康检查、精密体检机构</p>
							<p>④ 日本政府认证 可为外国人提供医疗服务</p>
						</div>
					<h1>2.NTT 东关东医院的优势</h1>
						<div class="ntt-detaile-p2">
							<p>专业的早期全面筛查；精准权威的判断及治疗；领先世界的尖端设备；以及真正面对患者的临床诊治能力。其中消化内科，血液内科，脑神经外科，泌尿科，疼痛科等方面治疗均在日本排名名列前茅。</p>
							<p>癌症治疗包含：消化系统癌(胃癌、大肠癌、食管癌、肝癌、胆道癌、胰腺癌)；脑肿瘤，泌尿系统癌(肾癌、膀胱癌、前列腺癌、睾丸癌)；妇科癌(子宫颈癌、子宫体癌、卵巢癌)；肺癌；头颈部癌(口腔癌、咽头癌、喉癌、唾腺癌等)治疗。</p>
							<p>也是日本全国著名的 ESD 培训中心之一，拥有日本仅有的三台 1000 倍的倍率观察内窥镜。其消化道早期癌症的诊断及 ESD（粘膜下层剥离术）治疗疗法全日本排名第一。（排名数据来源于日本朝日新闻出版社官方周刊）</p>
						</div>
					<h1>3.肺癌、胃癌、大肠癌检出率日本排名第一</h1>
					<h1>4.NTT 关东医院检查体系</h1>
						<div class="ntt-detaile-p4">
							<p>发现和筛查全球已知的300多种癌症，超早期肿瘤的发现水平，代表日本领先水平的医生团队综合诊断</p>
							<p>①  全身物理检查 -- 通过检查多项身体物理指标，帮助判断肿瘤表象</p>
							<p>②  生化指标检查 -- 通过检查多项身体器官生化指标，帮助判断肿瘤迹象</p>
							<p>③  肿瘤标志物 -- 使用比普通七种肿瘤标志物多三倍的21种标志物，更准确发现癌症信息</p>
							<p>④  设备检查 -- 用CT、MRI、MRA等高精医学设备，有针对性发现不同器官癌症</p>
							<p>⑤  全身筛查 -- PET现场制作个性化彰显剂全身扫描活跃癌细胞（针对特定人群）</p>
						</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-cen">
			<div class="footer-logo"><img src="../public/img/connect/footer-logo.png" alt=""></div>
			<div class="footer-tel"><img src="../public/img/connect/footer-tele.png" alt=""></div>
			<div class="footer-weixin"><img src="../public/img/connect/footer-weixin.png" alt=""></div>
		</div>
		<div class="footer-copy">京ICP备12052638号&nbsp;-10&nbsp;[京卫网审[2013]第0008号]Copyright&copy;2006-2013&nbsp;MYLIKE</div>
	</div>
</body>
</html>