<!DOCTYPE html>
<html>
<head>
	<title>南加门诊</title>
	<meta name="description" content="南加州医疗管理集团,健康服务定制专家" />
	<meta name="keywords" content="健康,医疗,健康订制" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type"	content="text/html" charset="utf-8"/> 
	<link rel="icon" type="image/x-icon" href="../public/img/logo/logo.ico">
	<!-- 引入css文件 start -->
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<link rel="stylesheet" type="text/css" href="../public/css/common.css">
	<link rel="stylesheet" href="../public/css/detaile.css">
	<link rel="stylesheet" href="../public/css/mayo.css">
	<!-- 引入css文件 end -->
</head>
<body>
	<div class="navbar" id="navbar" style="background:#e1e3e5;">
		<div class="navbar-logo">
			<img src="../public/img/logo/logo.png"/>
		</div>
		<div class="navbar-nav">
			<p id="nav-back"><a href="index.html"><strong>&lt;</strong>&nbsp;&nbsp;&nbsp;返回首页</a></p>
		</div>
	</div>
	<div class="detaile">
		<div class="dataile-content">
		<div class="detaile-header">
			<p>梅奥医学中心</p>
		</div>
			<div class="detaile-img">
				<img src="../public/img/detaile/ins-img3-1-1.jpg" alt="">
			</div>
			<div class="detaile-may-text">
				<h1>1.中心发展历史</h1>
					<div class="mayo-detaile-p1">
						<p>Mayo医学中心的雏型是Mayo Clinic ，她始建于十九世纪末。在美国南北战争时期，有一个叫Mayo的英国医生在部队行医，内战结束后，他开始在罗切斯特建立自己的私人诊所－－Mayo Clinic 。后来他的两个儿子William James Mayo和Charles Horace Mayo从医学院毕业也加入到老Mayo的诊所行医，他们陆续又聚集了很多医生、护士等医疗人员，实行大家合作、优势互补、知识技能和经验共享的行医方法。</p>
						<p>1889年，Mayo父子与圣弗朗西斯修女合作创办的圣玛丽医院开业。此后，越来越多的医生加入其中，使之发展成为世界上最早的多学科综合性医院。1915年，又世界上最早建立了医学研究生训练项目。1972年，Mayo医学院正式成立。</p>
						<p>1986年，罗切斯特Mayo Clinic 与圣玛丽医院（Saint Marys Hospital，SMH）、罗切斯特卫理公会医院（Rochester Methodist Hospital，RMH）正式合并。</p>
						<p>终于发展成为今天的Mayo医学中心暨基金会。早期尤以心脏科著称于世的Mayo Clinic，如今已经成为集医疗、科研、教育为一体的机构，它包括位于罗切斯特市的Mayo 门诊部、圣玛丽医院、罗切斯特卫理公会医院以及医学院和研究生院。它还在亚利桑那州的斯科茨代尔（Scottsdale, Arizona）和佛罗里达州的杰克逊维尔（Jacksonville, Florida）建有两个新的校区。其中以罗切斯特为中心，该市的十万人口中，Mayo医学中心占有三万多人口。
						</p>
					</div>
				<h1>2.医生团队</h1>
					<div class="mayo-detaile-p2">
						<p>
							医生是梅奥医学中心最重要的患者接触点。没有全体医护人员同患者建立起紧密的关系，医院仅仅是一座建筑。每一位在梅奥医学中心工作的人员，都以梅奥为自豪，他们都致力于把梅奥创建成一个医治人们肉体、灵魂和情感疾病的地方，而不仅仅是一个治病的地方。
						</p>
						<p>
							创立于1863年美国梅奥医学中心被称之为当今最富盛名、最具有竞争力和生命力的医疗服务品牌，这家以医学教育和科研为基础建设起来的世界顶级综合性高端医疗服务品牌，其中，美国84%的民众知道梅奥，有五分之一的人表示他们愿意选择梅奥作为他们的医疗服务的供应者，现状，每年通过梅奥提供医疗服务的人数达到50万。从梅奥医学中心最初成立开始已有超过六百万在此接受过治疗，患者包括欧洲王室、中东富豪、欧美政要、社会名流等。
						</p>
					</div>
				<h1>3.赴美就医</h1>
					<div class="mayo-detaile-p3">
						<p>梅奥医学中心和中国最大的出国看病咨询与服务机构-北京盛诺一家医院管理咨询有限公司合作，为希望到梅奥医学中心就医的中国患者提供美国专家预约、住院预约、辅助签证、医学资料收集、医学翻译以及海外陪同等去国外看病所需的全程。</p>
					</div>
				<h1>4.梅奥价值观</h1>
					<div class="mayo-detaile-p4">
						<p>1、教育、科研及临床服务（实践）三者的结合</p>
						<p>2、"这里的每一个人都关心您"</p>
						<p>3、关怀备至季度奖</p>
						<p>4、团队的力量永远强于个人</p>
						<p>5、良好的环境有助于诊治和康复</p>
					</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-cen">
			<div class="footer-logo"><img src="../public/img/connect/footer-logo.png" alt=""></div>
			<div class="footer-tel"><img src="../public/img/connect/footer-tele.png" alt=""></div>
			<div class="footer-weixin"><img src="../public/img/connect/footer-weixin.png" alt=""></div>
		</div>
		<div class="footer-copy">京ICP备12052638号&nbsp;-10&nbsp;[京卫网审[2013]第0008号]Copyright&copy;2006-2013&nbsp;MYLIKE</div>
	</div>
</body>
</html>