<html>
<body>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
1 	<br>
2   <br>
3 <br>
	<script src="../public/js/jquery.min.js"></script>
	<script>
		console.log($(window).width(),$(document).width(),$(document.body).width(),$(document.body).outerWidth(true));
	</script>
</body>
</html>